@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <fieldset>
        <legend> External Log Login</legend>
        @Html.Partial("_ExternalLoginsListPartial")
    </fieldset>
    <hr />

    <fieldset>
        <legend> Partial Register Fancy</legend>
        @Html.Partial("_PartialRegister")
    </fieldset>
    <hr />

    <fieldset>
        <legend> Register</legend>
        @Html.Partial("_Register")
    </fieldset>
    <hr />

    <fieldset>
        <legend> SignUp</legend>
        @Html.Partial("_SignUp")
    </fieldset>
    <hr />

    <fieldset>
        <legend> Address Form</legend>
        @Html.Partial("_AddressFrom")
    </fieldset>
    <hr />

    <fieldset>
        <legend> SignIn</legend>
        @Html.Partial("_ShieldUi")
    </fieldset>
    <hr />

    <fieldset>
        <legend> Form Extended Control</legend>
        @Html.Partial("_FormExtendedControl")
    </fieldset>
    <hr />
    <fieldset>
        <legend> Login Partial</legend>
        @Html.Partial("_LoginPartial")
    </fieldset>
    <hr />
    <fieldset>
        <legend> Partial Login</legend>
        @Html.Partial("_PartialLogin")
    </fieldset>
    <hr />
    <fieldset>
        <legend> SignIn</legend>
        @Html.Partial("_SignIn")
    </fieldset>
    <hr />

    <fieldset>
        <legend> PopOver</legend>
        @Html.Partial("_PopOvertooltip")
    </fieldset>
    <hr />
</div>
