@model cbbmsRnD.Models.InvMgt.InventoryItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventoryItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyIssued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyIssued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceDocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceDocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
