@model IEnumerable<cbbmsRnD.Models.InvMgt.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemCategory.ItemCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UoM.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-thumbnail" src="~/ItemCategories/getImage?id=@item.ItemCategory.ItemCategoryId" alt="ItemCategories" style="height:50pt;width:50pt;" />
            @*Html.DisplayFor(modelItem => item.Picture)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCategory.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UoM.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemId })
        </td>
    </tr>
}

</table>
