@model IEnumerable<cbbmsRnD.Models.InvMgt.SwiftInventoryTransfer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockTransferVoucher.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecievingUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendingUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiredOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockTransferVoucher.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecievingUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendingUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiredOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SwiftInventoryTransferId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SwiftInventoryTransferId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SwiftInventoryTransferId })
        </td>
    </tr>
}

</table>
