@model cbbmsRnD.Models.InvMgt.StockIssueVoucher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StockIssueVoucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockIssuedFromInventoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockIssuedFromInventoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockIssuedToUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockIssuedToUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockIssuedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockIssuedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockIssueVoucherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
