@model IEnumerable<cbbmsRnD.Models.InvMgt.StockIssueVoucher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockIssuedFromInventoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockIssuedToUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockIssuedByUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockIssuedFromInventoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockIssuedToUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockIssuedByUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StockIssueVoucherId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StockIssueVoucherId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StockIssueVoucherId })
        </td>
    </tr>
}

</table>
